
<div>
  <div class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading m-2">
          <h2>Payment</h2>
          <p>Did you know that there are more than 300 species of squid</p>
        </div>
        
        @if (Model.CartItems != null)
        {
            double price = 0;
            double discount = 0;
            <form asp-action="CreateOrder" method="post">
                <div class="products">
                    <h3 class="title">Checkout</h3>
                    @foreach (var item in Model.CartItems)
                    {
                        <div class="item">
                            @if (item.Discount != 0)
                            {
                                double itemPrice = item.DiscountUnitPrice * item.Quantity;
                                price += itemPrice;
                                discount += (item.UnitPrice - item.DiscountUnitPrice) * item.Quantity;

                                <span class="price">@itemPrice kr</span>
                                <p class="item-name">@item.ProductName</p>
                            }
                            else
                            {
                                double itemPrice = item.UnitPrice * item.Quantity;
                                price += itemPrice;

                                <span class="price">@itemPrice kr</span>
                                <p class="item-name">@item.ProductName</p>
                            }
                        </div>
                            }
                    </form>
                    <div class="total">Total<span class="price">@price Kr</span></div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block m-4" formaction="CreateOrder">Place Order</button>
                    </div>
                } 
      </div>
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>
