@using Microsoft.Web.Helpers;
@{
    ViewData["Title"] = "OrderComplete";
}

<div>
    <h1>Thank you for your order! Your order is now on it´s way.</h1>
    <p>You will receive a confirmation e-mail with order details shortly</p>
</div>
